{% extends "layout.html" %}

{% block body %}

    <div class="col">
        <form action="/compare" enctype="multipart/form-data" method="post">

            <!-- TODO -->
            <div class"form-control">

                <div>
                    <h6><strong>Select Two files for File comparison</strong></h6>
                    <input type="file" name="file1">
                    <br>
                    <br>
                </div>

                <div>
                    <input type="file" name="file2">
                    <br>
                    <br>
                </div>

                <div>
                    <strong>Select An Algorithm for File comparison</strong> <br>
                    <input id="lines" type="radio" name="algorithm" value="lines">
                    <label for="lines">Lines</label><br>
                </div>

                <div>
                    <input id="sentences" type="radio" name="algorithm" value="sentences">
                    <label for="sentences">Sentences</label><br>
                </div>

                <div>
                    <input id="substrings" type="radio" name="algorithm" value="substrings">

                    <label for="substrings">Substrings: </label>

                    <input  type="number" name="length" placeholder="length of substring">

                </div>

                <div>
                    <br>
                    <button class="btn btn-primary" type="submit" >Compare</button>
                </div>
             </div>

        </form>
    </div>

{% endblock %}
